.home__text {
    @include font;
    font-size: 22px;
    line-height: 170%;
    font-weight: 400;
    margin-bottom: 37px;

    &:last-of-type {
        margin-bottom: 0;
    }

    @media screen and (max-width: 479px) {
        font-size: 16px;
    }
}
