.home {
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    position: relative;

    @media screen and (max-width: 479px) {
        overflow: unset;
        max-width: calc(100% - 30px);
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
}