.home__ring {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 15px;
    z-index: 1;
    background: #000;
    border-radius: 70%;
    position: absolute;

    @media screen and (max-width: 479px) {
        bottom: -20px;
    }
}