.home__ring {
    height: 61px;
    width: 194px;
    background-repeat: no-repeat;
    transform: scale(1);
    animation: ring;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
}