@keyframes appearing {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0);
    }
}

.animation__appearing {
    animation: appearing;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
}