@import '../vendor/normalize.css';
.page {
  background-color: #181818;
  background-image: url(../images/dots.svg);
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 479px) {
  .page {
    background-image: unset;
  }
}

.home {
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 479px) {
  .home {
    overflow: unset;
    max-width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
}

.home__title {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 56px;
  line-height: 90%;
  margin-bottom: 64px;
  font-weight: 400;
}
@media screen and (max-width: 479px) {
  .home__title {
    font-size: 34px;
  }
}

.home__texts {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-content: center;
  margin-top: 100px;
}
@media screen and (max-width: 479px) {
  .home__texts {
    margin-top: 15px;
  }
}

.home__text {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 22px;
  line-height: 170%;
  font-weight: 400;
  margin-bottom: 37px;
}
.home__text:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 479px) {
  .home__text {
    font-size: 16px;
  }
}

.home__assistant {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  z-index: 3;
}

.home__interface {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 479px) {
  .home__interface {
    margin-bottom: 30px;
  }
}

.home__text-wrapper {
  position: absolute;
  z-index: 5;
  bottom: 35px;
}
@media screen and (max-width: 479px) {
  .home__text-wrapper {
    position: relative;
    z-index: 5;
    margin-bottom: 50px;
    bottom: unset;
  }
}

.home__bottom-text {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

.home__bottom-text_title {
  font-weight: 900;
  font-size: 44px;
  line-height: 90%;
  margin-bottom: 18px;
}

.home__bottom-text_description {
  font-size: 61px;
  line-height: 90%;
  font-weight: 900;
  margin-left: 60px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 479px) {
  .home__bottom-text_description {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 479px) {
  .home__bottom-text_description span {
    font-size: 49px;
  }
}

.home__assistant-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 120px;
  max-width: 250px;
}
@media screen and (max-width: 479px) {
  .home__assistant-wrapper {
    padding-left: 0;
    position: relative;
  }
}

.home__ring {
  background-repeat: no-repeat;
  position: absolute;
  bottom: 15px;
  z-index: 1;
  background: #000;
  border-radius: 70%;
  position: absolute;
}
@media screen and (max-width: 479px) {
  .home__ring {
    bottom: -20px;
  }
}

.home__assistant-move {
  max-width: 250px;
  overflow: hidden;
  height: 800px;
  position: relative;
  z-index: 2;
}

.home__image-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes levitation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes levitation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
.animation__levitation {
  -webkit-animation: levitation;
          animation: levitation;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes ring {
  0% {
    width: 0;
    height: 0;
  }
  20% {
    height: 100px;
    width: 260px;
  }
  80% {
    height: 100px;
    width: 260px;
  }
  100% {
    width: 0;
    height: 0;
  }
}

@keyframes ring {
  0% {
    width: 0;
    height: 0;
  }
  20% {
    height: 100px;
    width: 260px;
  }
  80% {
    height: 100px;
    width: 260px;
  }
  100% {
    width: 0;
    height: 0;
  }
}
.animation__ring {
  -webkit-animation: 3s linear 0s ring;
          animation: 3s linear 0s ring;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes appearing {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes appearing {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0);
  }
}
.animation__appearing {
  -webkit-animation: appearing;
          animation: appearing;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}/*# sourceMappingURL=index.css.map */