.home__assistant {
    max-width: 250px;
    object-fit: contain;
    animation: levitation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}
